<?xml version="1.0" encoding="utf-8"?>
<manifest package="chalmers.eda397g1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/xplan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_main_menu">>
        </activity>

        <activity
            android:name=".ui.VoteResultsActivity"
            android:label="Final Results">

        </activity>

        <activity
            android:name=".ui.ChooseRepoProjectActivity"
            android:label="@string/title_activity_choose_project">
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login">

        </activity>

        <activity
            android:name=".ui.LobbyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_lobby">
        </activity>

        <activity
            android:name=".ui.VoteActivity"
            android:label="@string/title_activity_vote">
        </activity>

        <activity
            android:name=".ui.SplashScreen"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.VoteOnLowestEffortActivity"
            android:label="@string/title_activity_vote_on_lowest_effort">
        </activity>

        <service android:name=".services.SocketService" />

    </application>

</manifest>