<?xml version="1.0" encoding="utf-8"?>
<manifest package="chalmers.eda397g1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/xplan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity">
        </activity>

        <activity
            android:name=".VoteResultsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ChooseRepoProjectActivity"
            android:label="@string/title_activity_choose_project">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
        </activity>

        <activity
            android:name=".LobbyActivity"
            android:label="@string/title_activity_lobby">
        </activity>

        <activity
            android:name=".VoteActivity"
            android:label="@string/title_activity_vote">
        </activity>

        <activity
            android:name=".DisplayRoundResultsActivity"
            android:label="Round Results">
        </activity>

        <activity
            android:name=".SplashScreen">

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

        </activity>



        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".VoteOnLowestEffortActivity"
            android:label="Vote On Items">
        </activity>

        <service android:name=".Services.SocketService" />

    </application>

</manifest>